<center>
  <nav>
      <a class="nav" href="/Search"> Search </a>
      <a class="nav" href="/Favorites"> Favorites </a>
      <a class="nav" href="/Review"> Add a review </a>
      <a class="nav" href=" /allReviews"> All Reviews </a>
      <a class="nav" href="/Home"> Home </a>
    
  </nav>
</center>
